{{#each Pajarraco.tweetsController}}
  <ul class="tweets">
    <li class="tweet">
      <img {{bindAttr src="user_image"}}>
      <div class="user_info">
        <h2>
          {{twitter_url user_nick}}
          <small>- {{user_name}}</small>
        </h2>
        <p>{{text}}</p>
      </div>
    </li>
  </ul> 
{{/each}}
