{{#each content}}
  <ul class="tweets">
    {{#view Pajarraco.TweetView
       tweetBinding="this" tagName="li" classNames="tweet"}}
      <img {{bindAttr src="tweet.user_image"}}>
      <div class="user_info">
        <h2>
          {{twitter_url tweet.user_nick}}
          <small>- {{tweet.user_name}}</small>
        </h2>
        <p>{{twittify tweet.text}}</p>
      </div>
    {{/view}}
  </ul> 
{{/each}}
