{{#each content}}
  <ul class="tweets">
    {{#view Pajarraco.TweetView
       tweetBinding="this" tagName="li" classNames="tweet"}}
      <img {{bindAttr src="tweet.userImage"}}>
      <div class="user_info">
        <h2>
          {{twittify tweet.twitterUserNick}}
          <small>- {{tweet.userName}}</small>
        </h2>
        <p>{{twittify tweet.text}}</p>
      </div>
    {{/view}}
  </ul> 
{{/each}}
