<div class="row-fluid">
  <div class="span12">
    <header>
      <h1><a href="/">Pajarraco</a></h1>
      <small>((Double-click to save/delete))</small>
    </header>
    <div class="row-fluid">
      <div class="span6 context">
        <script type="text/x-handlebars">
          <div class="query">
            {{view Pajarraco.changeQueryView
              placeholder="Search on Twitter"}}
          </div>

          {{view Pajarraco.TweetsView
            contentBinding="Pajarraco.searchTweets"}}
        </script>
      </div>

      <div class="span6 context">
        <h2 class="title">My Saved Tweets:</h2>
        <script type="text/x-handlebars">
          {{view Pajarraco.TweetsView
            contentBinding="Pajarraco.savedTweets"}}
        </script>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function () {
    Pajarraco.savedTweets.loadTweets();
  });
</script>
