<h1>Pajarraco</h1>

<script type="text/x-handlebars">
  {{view Pajarraco.MainView}}
</script>

<script type="text/javascript">
  $(function () {
    Pajarraco.tweetsController.findAll();
  });
</script>
