@mixin border-radius($length) {
  -o-border-radius: $length;
  -ms-border-radius: $length;
  -moz-border-radius: $length;
  -webkit-border-radius: $length;
  border-radius: $length;
}

h1 {
  text-align: center;
}

.container {
  @include border-radius(3px);

  background: #BBD8E9;
  margin-top: 30px;
  padding: 30px;
}

.context {
  @include border-radius(3px);

  background: #DCEAF4;
  line-height: 30px;
  margin-top: 20px;
}

.tweet {
  .user_info {
    display: inline-block;
  }

  img {
    @include border-radius(5px);
    height: 48px;
    width: 48px;
  }
}

.tweets {
  @include border-radius(3px);

  background: white;
  list-style-type: none;
  margin: 4px;
  padding: 10px;
}
