<!DOCTYPE html>
<html>
<head>
  <title>Pajarraco</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://use.typekit.com/jox3ixu.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>

  <a href="http://github.com/frodsan/pajarraco">
    <img style="position: fixed; top: 0; right: 0; border: 0;" 
         src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"
         alt="Fork me on GitHub">
  </a>
</body>
</html>
